    <div class="sidebar">
      <div class="logo-details">
        <i class="bx bxs-pyramid"></i>
        <span class="logo_name">Glue</span>
      </div>
      <ul class="nav-links">
        <li>
          <a href="/dashboard">
            <i class="bx bx-grid-alt"></i>
            <span class="link_name">Projects</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Category</a></li>
          </ul>
        </li>

        <li>
          <a href="/team">
            <i class="bx bx-pie-chart-alt-2"></i>
            <span class="link_name">Team</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Analytics</a></li>
          </ul>
        </li>
        <li>
          <a href="account">
            <i class="bx bx-line-chart"></i>
            <span class="link_name">My Account</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Chart</a></li>
          </ul>
        </li>

        <li>
          <a href="/company">
            <i class="bx bx-compass"></i>
            <span class="link_name">My Company</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Explore</a></li>
          </ul>
        </li>

        <li>
          <a href="/upload-excel">
            <i class="bx bx-cloud-upload"></i>
            <span class="link_name">Upload Excel</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Explore</a></li>
          </ul>
        </li>

        <li>
          <div class="profile-details">
            <div class="profile-content">
              <!-- <img src="http://placebeard.it/250/250" alt="profileImg"> -->
            </div>
            <div class="name-job">
              <div class="profile_name">Log Out</div>
              <!-- <div class="job">Software Engineer</div> -->
            </div>
            <i class="bx bx-log-out"></i>
          </div>
        </li>
      </ul>
    </div>
