 <%- include('header') %>
  <style>
    .card {
      background-color: #fff0;
      border: 1px solid rgb(0 0 0 / 0%);
    }
  </style>
  <body>
    <%- include('sidebar') %>
    <section class="home-section">
      <div class="home-content">
        <i class="bx bx-menu"></i>
        <span class="text"></span>
      </div>
      <!-- page  -->
      <section class="p-3">
        <!-- heading -->
        <div class="row">
          <div class="col-4">
            <h1 class="">Task Name</h1>
          </div>
          <div class="col-6"></div>
          <div class="col-2">
            <a href="/subtask">
            <button
              type="button"
              class="btn text-white"
              style="background-color: #03b4c6; border-radius: 40px"
            >
              Subtasks
            </button>
            </a>
          </div>
        </div>

        <!-- end heading -->
        <!-- page content -->
        <section>
          <div class="container">
            <div class="row mt-5">
              <div class="col-md-6">
                <div
                  class="p-3"
                  style="
                    background-color: #ceeaef;
                    border-radius: 15px;
                    border: 1px solid #ceeaef;
                  "
                >
                  <h3 style="color: #03b4c6">To Do</h3>
                  <div
                    class="row m-2"
                    style="
                      background-color: white;
                      border-radius: 15px;
                      border: 1px solid white;
                    "
                  >
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">First</th>
                          <th scope="col">Last</th>
                          <th scope="col">Handle</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>@mdo</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>@fat</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td colspan="2">Larry the Bird</td>
                          <td>@twitter</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div
                  class="p-3"
                  style="
                    background-color: #f3ead4;
                    border-radius: 15px;
                    border: 1px solid #f3ead4;
                  "
                >
                  <h3 style="color: #fab515">Progress</h3>
                  <div
                    class="row m-2"
                    style="
                      background-color: white;
                      border-radius: 15px;
                      border: 1px solid white;
                    "
                  >
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">% Complete</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Mark</td>
                        </tr>
                        <tr>
                          <td>Jacob</td>
                        </tr>
                        <tr>
                          <td>@twitter</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div
                  class="p-3"
                  style="
                    background-color: #d1ebdb;
                    border-radius: 15px;
                    border: 1px solid #d1ebdb;
                  "
                >
                  <h3 style="color: #3dc373">Value</h3>
                  <div
                    class="row m-2"
                    style="
                      background-color: white;
                      border-radius: 15px;
                      border: 1px solid white;
                    "
                  >
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Value</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Mark</td>
                        </tr>
                        <tr>
                          <td>Jacob</td>
                        </tr>
                        <tr>
                          <td>@twitter</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-12">
                <div
                  class="p-3"
                  style="
                    background-color: #cfd2dc;
                    border-radius: 15px;
                    border: 1px solid #cfd2dc;
                  "
                >
                  <button
                    class="btn"
                    style="color: #444f74; font-size: 28px"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseExample"
                    aria-expanded="false"
                    aria-controls="collapseExample"
                  >
                    Archived
                  </button>
                  <div class="collapse" id="collapseExample">
                    <div class="card card-body">No archived task.</div>
                  </div>
                </div>
              </div>
            </div>

            <button type="button" class="btn btn-danger mt-5">
              Delete Project
            </button>
          </div>
        </section>
        <!-- page content end -->
      </section>
      <!-- end page -->
    </section>

    <!-- sidebar script -->
    <script>
      const arrows = document.querySelectorAll(".arrow");

      arrows.forEach((arrow) => {
        arrow.addEventListener("click", (e) => {
          const arrowParent =
            e.target.closest(".arrow").parentElement.parentElement;
          arrowParent.classList.toggle("showMenu");
        });
      });

      const sidebar = document.querySelector(".sidebar");
      const sidebarBtn = document.querySelector(".bx-menu");

      sidebarBtn.addEventListener("click", () => {
        sidebar.classList.toggle("close");
      });
    </script>

    <!-- sidebar script end -->

    <!-- b5 script -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <!-- b5 script end -->
  </body>
</html>
